.blog-section {
    padding: 7rem 0 12rem 0;
}
.blog-section .post-entry a {
    text-decoration: none;
}
.blog-section .post-entry .post-thumbnail {
    display: block;
    margin-bottom: 20px;
}
.blog-section .post-entry .post-thumbnail img {
    border-radius: 20px;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.blog-section .post-entry .post-content-entry {
    padding-left: 15px;
    padding-right: 15px;
}
.blog-section .post-entry .post-content-entry h3 {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 600;
    margin-bottom: 7px;
}
.blog-section .post-entry .post-content-entry .meta {
    font-size: 14px;
}
.blog-section .post-entry .post-content-entry .meta a {
    font-weight: 600;
}
.blog-section .post-entry:hover .post-thumbnail img,
.blog-section .post-entry:focus .post-thumbnail img {
    opacity: 0.7;
}
