.framework {
    display: flex;
    border-radius: 15px;
    padding: 0.75rem;
    background-color: white;
    line-height: 22px;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
}

.product-image {
    cursor: pointer;
}

.product-info {
    padding: 18px;
    display: flex;
    flex-direction: column;
    min-width: 35%;
}

.details-name {
    color: #3c0d17;
    font-family: Mulish, sans-serif;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: normal;
    line-height: 36px;
    margin-bottom: 10px;
}

.details-type {
    color: #3c0d17;
    font-family: Mulish, sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 20px;
}

.details-color {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.color-icon {
    width: 18px;
    height: 18px;
}

.color-text {
    font-size: 18px;
}

.details-total-likes {
    color: #3c0d17;
    font-family: Mulish, sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 10px;
}

.modal-more-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 10px 30px 30px;
    padding: 10px;
    background: #fff;
    cursor: pointer;
    border: 2px solid #3b5d50;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
}

.modal-more-info:hover {
    box-shadow: 0 0 15px #3b5d50;
}

.modal-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    background: white;
    padding: 30px;
    width: 100%;
    max-width: 860px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: block;
    background: #fff;
}

.modal-close {
    position: relative;
    margin-bottom: 7px;
    left: 407px;
    width: 36px;
    height: 36px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
}

.modal-close:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.details-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.details-promo-price {
    color: #f42843;
    font-family: Mulish, sans-serif;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: normal;
    line-height: 44px;
}

.details-regular-price {
    color: #3c0d17;
    font-family: Mulish, sans-serif;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: normal;
    line-height: 44px;
}

.details-before {
    color: #3c0d17;
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 18px;
    display: flex;
    justify-content: right;
}

.details-you-save {
    color: #f42843;
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 18px;
    margin-left: 5px;
}

.details-delivery {
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
}

.details-purchase-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #3b5d50;
    cursor: pointer;
    border: 2px solid #3b5d50;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
}

.details-purchase-button-wrapper > span {
    color: white;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
    padding-left: 20px;
}

.details-purchase-icon {
    width: 36px;
    height: 36px;
}

.details-purchase-button-wrapper:hover {
    box-shadow: 0 2px 10px #82ad92;
    opacity: 0.95;
}
