@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

body {
    overflow-x: hidden;
    position: relative;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #6a6a6a;
    font-size: 14px;
    background-color: #eff2f1;
}
a {
    text-decoration: none;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: #2f2f2f;
    text-decoration: underline;
}
a:hover {
    color: #2f2f2f;
    text-decoration: none;
}
a.more {
    font-weight: 600;
}

.btn {
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    color: #ffffff;
    background: #2f2f2f;
    border-color: #2f2f2f;
}
.btn:hover {
    color: #ffffff;
    background: #222222;
    border-color: #222222;
}
.btn:active,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn.btn-primary {
    background: #3b5d50;
    border-color: #3b5d50;
}
.btn.btn-primary:hover {
    background: #314d43;
    border-color: #314d43;
}
.btn.btn-secondary {
    color: #2f2f2f;
    background: #f9bf29;
    border-color: #f9bf29;
}
.btn.btn-secondary:hover {
    background: #f8b810;
    border-color: #f8b810;
}
.btn.btn-white-outline {
    background: transparent;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.3);
}
.btn.btn-white-outline:hover {
    border-color: white;
    color: #ffffff;
}

.section-title {
    color: #2f2f2f;
}
.brand-name p {
    font-family: 'Indie Flower', cursive;
    margin-top: 1rem;
    margin-bottom: 0;
}
.brand-name {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}
.brand-name > span {
    opacity: 0.4;
}

.my-toast {
    background-color: #3b5d50;
    padding: 10px 20px;
    color: #fff;
    border-radius: 15px;
    /* border: 2px solid white; */
}
