.profile-container {
    display: flex;
    padding: 0 20%;
}

.profile-navbar {
    margin-top: 100px;
    width: auto;
    flex: 0 0 auto;
    padding-right: 30px;
}

.profile-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.profile-navbar li div {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 10px 0 10px;
    border-bottom: 1px solid #ccc;
    width: 250px;
}

.profile-navbar li div {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    width: 250px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.profile-navbar div:hover {
    background-color: #a8d0e6;
    color: #333;
    border-radius: 10px;
    padding: 10px 20px;
}
.container-right {
    margin: 100px 0;
    width: calc(60% - 30px);
    padding-left: 30px;
}

.profile-navbar li {
    margin-bottom: 15px;
}
