.form-control:last-child {
    margin-bottom: 1rem;
}

.form-control {
    height: 50px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
}
.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #3b5d50;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.form-control::-webkit-input-placeholder {
    font-size: 14px;
}
.form-control::-moz-placeholder {
    font-size: 14px;
}
.form-control:-ms-input-placeholder {
    font-size: 14px;
}
.form-control:-moz-placeholder {
    font-size: 14px;
}
