.img-fluid .product-thumbnail {
    height: 200px;
    width: 300px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 2px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: 100px;
}

.product-section {
    padding: 1rem 0;
}
.product-section .product-item {
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    padding-bottom: 20px;
    cursor: pointer;
}
.product-section .product-item .product-thumbnail {
    margin-bottom: 15px;
    position: relative;
    top: 0;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.product-section .product-item h3 {
    font-weight: 600;
    font-size: 16px;
}
.product-section .product-item strong {
    font-weight: 800 !important;
    font-size: 18px !important;
}
.product-section .product-item h3,
.product-section .product-item strong {
    color: #2f2f2f;
    text-decoration: none;
}
.product-section .product-item .icon-cross {
    position: absolute;
    width: 35px;
    height: 35px;
    display: inline-block;
    background: #2f2f2f;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: -17.5px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.product-section .product-item .icon-cross img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.product-section .product-item:before {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: '';
    background: #dce5e4;
    height: 0%;
    z-index: -1;
    border-radius: 10px;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.product-section .product-item:hover .product-thumbnail {
    top: -15px;
}
.product-section .product-item:hover .icon-cross {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}
.product-section .product-item:hover:before {
    height: 70%;
}
