.dropdown-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    opacity: 1;
    transition: opacity 0.3s ease;
    transition: transform 0.3s ease;
    transform: scale(1);
}

.dropdown-link:hover {
    background-color: #ffffff;
    border-radius: 10px;
    transform: scale(1.07);
}
