.popular-product {
    padding: 0 0 7rem 0;
}
.popular-product .product-item-sm h3 {
    font-size: 14px;
    font-weight: 700;
    color: #2f2f2f;
}
.popular-product .product-item-sm a {
    text-decoration: none;
    color: #2f2f2f;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.popular-product .product-item-sm a:hover {
    color: rgba(47, 47, 47, 0.5);
}
.popular-product .product-item-sm p {
    line-height: 1.4;
    margin-bottom: 10px;
    font-size: 14px;
}
.popular-product .product-item-sm .thumbnail {
    margin-right: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    position: relative;
}
.popular-product .product-item-sm .thumbnail:before {
    content: '';
    position: absolute;
    border-radius: 20px;
    background: #dce5e4;
    width: 98px;
    height: 98px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}
