@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Raleway:wght@800&display=swap');
.img-card-fluid {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-card {
    padding: 2rem 0;
}

.product-framework {
    cursor: pointer;
    border-radius: 15px;
    padding: 0.75rem;
    background-color: white;
    line-height: 22px;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    transition: box-shadow 0.3s ease;
}

.product-framework:hover {
    box-shadow: 0 0 10px #3b5d50;
}

.image-container {
    position: relative;
    display: inline-block;
}

.heart-container {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart {
    width: 10px;
    height: 10px;
    background-color: rgb(139, 139, 139);
    position: relative;
    transform: rotate(-45deg);
    transition: background-color 0.3s ease;
}

.heart::before,
.heart::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.heart::before,
.heart::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: rgb(139, 139, 139);
    border-radius: 50%;
    position: absolute;
    transition: background-color 0.3s ease;
}

.heart::before {
    top: -5px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 5px;
}

.liked .heart,
.liked .heart::before,
.liked .heart::after {
    background-color: red;
}
.details .name {
    color: #3c0d17;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: normal;
    line-height: 24px;
    margin-bottom: 7px;
}
.details {
    position: relative;
    min-height: 80px;
    padding: 5px 5px;
    font-weight: 600;
}
.details .features {
    margin-top: 15px;
}

.promo-price {
    color: #ff7f50;
    font-family: Mulish, sans-serif;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: normal;
    line-height: 28px;
}

.options {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0;
}

.regular-price {
    color: #3c0d17;
    font-family: Mulish, sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-decoration: line-through;
    padding-left: 10px;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.prices {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.purchase-button-wrapper {
    display: flex;
    align-items: center;
    padding-right: 7px;
}

.purchase-button-wrapper:hover {
    transform: scale(1.12);
}
.purchase-icon {
    height: 24px;
    width: 24px;
}

.purchase-icon-container {
    width: 42px;
    height: 42px;
    background-color: #689e73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labels {
    position: absolute;
    top: 7px;
    left: 7px;
}

.label-promo {
    display: inline-block;
    padding: 3px 9px;
    background: #ff7f50;
    border-radius: 8px;
    line-height: 32px;
    color: #fff;
    font-family: Mulish, sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 20px;
}

.product-link {
    text-decoration: none;
}
