.toast-container {
    color: white;
    position: fixed;
    top: 100px;
    padding: 10px;
    animation: slideInOut 3s forwards;
}

.error-message > p {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #3b5d50;
    border-radius: 15px;
}

.animate {
    animation: fadeInOut 3s forwards;
}

@keyframes slideInOut {
    0% {
        right: -100%;
    }
    25% {
        right: 40px;
    }
    75% {
        right: 40px;
    }
    100% {
        right: -100%;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        right: -100%;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        right: -100%;
    }
}
