.custom-navbar {
    background: #3b5d50 !important;
    padding-top: 5px;
    padding-bottom: 12px;
}

.custom-navbar-nav .nav-link {
    color: white !important;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.3s ease;
    font-family: 'Mulish', sans-serif;
}

.custom-navbar-nav .nav-link:hover {
    color: #ff6f61 !important;
}
.custom-navbar-nav .nav-link:active {
    animation: clickEffect 0.5s ease;
}

@keyframes clickEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
.small-logo {
    width: 120px;
    height: 65px;
}

.custom-navbar-cta {
    margin-left: 15px !important;
}
