.testimonial-section {
    padding: 3rem 0 7rem 0;
}

.testimonial-slider-wrap {
    position: relative;
}
.testimonial-slider-wrap .tns-inner {
    padding-top: 30px;
}
.testimonial-slider-wrap .item .testimonial-block blockquote {
    font-size: 16px;
}
@media (min-width: 768px) {
    .testimonial-slider-wrap .item .testimonial-block blockquote {
        line-height: 32px;
        font-size: 18px;
    }
}
.testimonial-slider-wrap .item .testimonial-block .author-info .author-pic {
    margin-bottom: 20px;
}
.testimonial-slider-wrap .item .testimonial-block .author-info .author-pic img {
    max-width: 80px;
    border-radius: 50%;
}
.testimonial-slider-wrap .item .testimonial-block .author-info h3 {
    font-size: 14px;
    font-weight: 700;
    color: #2f2f2f;
    margin-bottom: 0;
}
.testimonial-slider-wrap #testimonial-nav {
    position: absolute;
    top: 50%;
    z-index: 99;
    width: 100%;
    display: none;
}
@media (min-width: 768px) {
    .testimonial-slider-wrap #testimonial-nav {
        display: block;
    }
}
.testimonial-slider-wrap #testimonial-nav > span {
    cursor: pointer;
    position: absolute;
    width: 58px;
    height: 58px;
    line-height: 58px;
    border-radius: 50%;
    background: rgba(59, 93, 80, 0.1);
    color: #2f2f2f;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.testimonial-slider-wrap #testimonial-nav > span:hover {
    background: #3b5d50;
    color: #ffffff;
}
.testimonial-slider-wrap #testimonial-nav .prev {
    left: -10px;
}
.testimonial-slider-wrap #testimonial-nav .next {
    right: 0;
}
.testimonial-slider-wrap .tns-nav {
    position: absolute;
    bottom: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.testimonial-slider-wrap .tns-nav button {
    background: none;
    border: none;
    display: inline-block;
    position: relative;
    width: 0 !important;
    height: 7px !important;
    margin: 2px;
}
.testimonial-slider-wrap .tns-nav button:active,
.testimonial-slider-wrap .tns-nav button:focus,
.testimonial-slider-wrap .tns-nav button:hover {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
}
.testimonial-slider-wrap .tns-nav button:before {
    display: block;
    width: 7px;
    height: 7px;
    left: 0;
    top: 0;
    position: absolute;
    content: '';
    border-radius: 50%;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    background-color: #d6d6d6;
}
.testimonial-slider-wrap .tns-nav button:hover:before,
.testimonial-slider-wrap .tns-nav button.tns-nav-active:before {
    background-color: #3b5d50;
}
